.crateProduct {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}
.createProducts {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 80%;
	overflow-y: scroll;
	z-index: 1000001;
	padding: 10px 15px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: rgb(245, 244, 244);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	animation: 0.6s isActive ease-in-out;
}
@keyframes isActive {
	0% {
		transform: translate(-50%, -150%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}
.close {
	text-align: right;
	font-size: 2.3rem;
	/* margin: 10px 10px 0 0; */
}
.close i {
	background-color: #fff;
	padding: 10px 15px;
	border-radius: 50%;
	cursor: pointer;
}
.createProducts h3 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 1px;
	margin: 15px 0 15px 0;
}
select {
	width: 100%;
	border-radius: 10px;
	padding: 15px 20px;
}
select:focus {
	outline: none;
}
select option {
	font-size: 1.8rem;
	padding: 5px 5px;
	border-radius: 5px;
}
.createProducts button {
	margin: 15px 0 15px 0;
	float: right;
	padding: 15px 20px;
	border: none;
	font-size: 1.8rem;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: rgb(7, 164, 99);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3 all ease-in;
}
.createProducts button:hover {
	background-color: rgb(9, 128, 76);
}
