.productAdmin {
	width: 100%;
	margin: 20px 0 20px 20px;
}
.productAdminNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.productAdminNav button {
	outline: none;
	border: none;
	padding: 15px 20px;
	font-size: 1.8rem;
	line-height: 1.2;
	border-radius: 10px;
	background-color: rgb(5, 213, 74);
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 0.8px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.productAdminSearch {
	/* border: 1px solid #000; */
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.productAdminSearch input {
	padding: 15px 10px;
	outline: none;
	border: none;
	font-size: 1.3rem;
	border-radius: 10px;
}
.productAdminSearch i {
	font-size: 1.6rem;
	padding: 0 15px 0 5px;
	/* font-weight: 500 !important; */
}
.productAdminTable {
	margin-top: 30px;
	margin-right: 10px;
}
.productTable table {
	width: 100%;
	border: 1px solid #eee;
	/* border-collapse: collapse; */
	border-radius: 10px;
	margin-bottom: 20px;
}
.productTable table tr:nth-child(even) {
	background-color: #eee;
}
.productTable table tr {
	border: 1px solid #eee;
}
.productTable table tr th {
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 5px 5px;
	border-right: 1px solid #eee;
}
.productTable table tr td {
	text-align: center;
	border-right: 1px solid #eee;
	font-size: 1.3rem;
	padding: 5px 5px;
}
.productTable table tr td img {
	width: 60px;
	height: 60px;
}
